altgraph @ file:///C:/b/abs_f2edualeyv/croot/altgraph_1670426107695/work
asteval @ file:///home/conda/feedstock_root/build_artifacts/asteval_1737381824807/work
attrs==25.3.0
av @ file:///D:/bld/av_1650457056727/work
Brotli @ file:///D:/bld/brotli-split_1666788538925/work
cefpython3==66.1
certifi==2023.11.17
cffi @ file:///D:/bld/cffi_1671179514672/work
charset-normalizer==3.3.2
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
coloredlogs==15.0.1
contourpy @ file:///C:/b/abs_b0lpi9pj9c/croot/contourpy_1738161183484/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1744798524990/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
ezdxf==1.4.2
ffmpeg==1.4
ffmpy==0.6.0
ffpyplayer==4.5.3
flatbuffers==25.2.10
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gdstk==0.9.60
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.6
imageio @ file:///C:/b/abs_4cup9zfkvm/croot/imageio_1738160462075/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1737102630951/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lazy_loader==0.4
llvmlite==0.43.0
lmfit @ file:///home/conda/feedstock_root/build_artifacts/lmfit_1741832070855/work
macholib @ file:///C:/b/abs_70hlti0ud7/croot/macholib_1734039549887/work
matplotlib==3.9.2
moviepy @ file:///home/conda/feedstock_root/build_artifacts/moviepy_1665160419595/work
mpmath==1.3.0
networkx==3.2.1
numba==0.60.0
numpy @ file:///D:/bld/numpy_1682210373631/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1734769783178/work
onnxruntime==1.19.2
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl @ file:///D:/bld/openpyxl_1682611055374/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///D:/bld/pandas_1682331656267/work
pdfrw @ file:///home/conda/feedstock_root/build_artifacts/pdfrw_1736457869939/work
pefile @ file:///C:/b/abs_68oy9ka6fm/croot/pefile_1720651782540/work
pillow==11.2.1
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
proglog @ file:///home/conda/feedstock_root/build_artifacts/proglog_1728452852274/work
protobuf==6.31.1
psutil @ file:///D:/bld/psutil_1681775298734/work
PyAudio==0.2.14
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pygame==2.6.1
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyMatting==1.1.14
PyMuPDF==1.26.1
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyPDF2 @ file:///home/conda/feedstock_root/build_artifacts/pypdf2_1735229443413/work
PyQt5_sip==4.19.18
pyreadline3==3.5.4
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-vlc==3.0.21203
pytube @ git+https://github.com/pytube/pytube@a32fff39058a6f7e5e59ecd06a7467b71197ce35
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32==308
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
referencing==0.36.2
rembg==2.0.61
reportlab==3.5.68
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
rpds-py==0.25.1
scikit-image==0.24.0
scipy==1.10.1
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1745450835179/work
sip==4.19.13
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sympy==1.14.0
tifffile==2024.8.30
tkvideoplayer==2.8
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
ttkwidgets==0.13.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1748959427/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1745274325800/work
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
yt-dlp==2025.6.30
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.19.0
